:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Public Sans", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1%;
    background-color: var(--bg);
   
}

.logo img {
    height: 10rem;
    width: auto;

}



.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons-search img {
 
    cursor: pointer;
   
    border-radius: 50%;
  
}



/* Container da barra de pesquisa */
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 40px;
  background: transparent;
  transition: all 0.4s ease;
}

/* Input começa fechado */
.search-box input {
  width: 0;
  opacity: 0;
  padding: 0;
  height: 100%;
  border-radius: 40px;
  background: var(--main-color); /* dourado */
  color: #000;
  font-size: 1.4rem;
  transition: all 0.4s ease;
  outline: none;
  border: none;
}

/* Ícone da lupa */
.search-box .icon {
  position: absolute;
  left: 10px;
  cursor: pointer;
  z-index: 2;
}


/* Ao passar o mouse: input expande */
.search-box:hover input {
  width: 20rem; /* largura expandida */
  opacity: 1;
  padding: 0 1.5rem 0 2.5rem; /* espaço pro ícone */
}



 .btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
  border-radius: 4rem;
}

.btn:hover {
    letter-spacing: 0.3rem;
}

.home-container {
    background: url(./img/home-img.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 10rem;

}

.content {
    max-width: 60rem;
   
}

.content h3 {
    color: #fff;
    font-size: 6rem;
   
}

.content p {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1.5;
    padding: 1rem 0;
   
}

.title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
  
}

.title span {
color: #fff;
  text-transform: uppercase;
}


.about .row{
display: flex;
align-items: center;
background-color: var(--black);
gap: 2rem;
}


.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
font-size: 3rem;
color: #fff;
}

.about .row .content p {
font-size: 1.6rem;
color: #fff;
padding: 1rem 0;
line-height: 1.8;

}




 .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
   
}


/* 
.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
cursor: pointer;

} */

.menu .box-container .box {
  position: relative;
  height: 340px;               /* altura fixa dos cards */
  padding: 0;                  /* conteúdo fica nas faces */
  border: none;                /* a borda fica no .flip-inner */
  background: transparent;
  perspective: 1000px;         /* ativa o 3D */
  cursor: pointer;
  transform: rotateY(0deg);
}

.menu .box-container .box.is-flipped {
  transform: rotateY(180deg);
}

.menu .box-container .box.is-flipped .desc,.title-desc,.footer-desc{
    transform: rotateY(-180deg);

    

}

.menu .box-container .box .flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
   -webkit-transform-style: preserve-3d;
  transition: transform 0.6s;
  border: var(--border);
  border-radius: 12px;
  background: var(--black);
  overflow: hidden;
}


.menu .box-container .box .flip-front {
    position: absolute;
  inset: 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
   backface-visibility: hidden;
 -webkit-backface-visibility: hidden;
  border-radius: 12px;
  transform: rotateY(0deg); /* frente normal */
   z-index: 1;
     background: var(--black);
  color: #fff;
  /* z-index: 1; */
}

.menu .box-container .box .flip-back {
  
  position: absolute;
  inset: 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
   backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 12px;
  background: #13131a;
  color: #fff;
  transform: rotateY(180deg); /*verso fica "de costas" até virar*/
  z-index: 0;
}


.menu .box-container .box.is-flipped .flip-inner .flip-front{
  transform: rotateY(180deg);
 
}

.menu .box-container .box.is-flipped .flip-inner .flip-back {
  transform: rotateY(0deg);

}

.menu .box-container .box .flip-front,
.menu .box-container .box .flip-back {
  position: absolute;
  inset: 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  border-radius: 12px;
  /* top: 0;
  right: 0; */
 
} 

.menu .box-container .box .flip-front img {
  height: 10rem;
}


.menu .box-container .box .flip-front h3 {
  color: #fff;
  font-size: 2rem;
}



.menu .box-container .box .flip-front .price {
  color: #fff;
  font-size: 2.2rem;
  padding: 0.6rem 1.6rem;
  background-color: var(--main-color);
  border-radius: 4rem;
}


.menu .box-container .box .flip-front .price span {
  font-size: 1.4rem;
  text-decoration: line-through;
  font-weight: lighter;
  opacity: 0.9;
  margin-left: 6px;
}

/* .menu .box-container .box .flip-back {
  transform: rotateY(180deg);
  background: #0f0f13;
  color: #fff;
  padding: 2.5rem;
} */





.menu .box-container .box .flip-back h3 {
  font-size: 2rem;
}

.menu .box-container .box .desc {
  font-size: 1.5rem;
  line-height: 1.6;
  opacity: 0.95;
}

.menu .box-container .box small {
  opacity: 0.7;
  font-size: 1.2rem;
}

/* Evita conflito se ainda tiver regras antigas de hover */
.menu .box-container .box:hover { background: transparent !important; }
.menu .box-container .box:hover > * { color: inherit !important; }






/* .menu .box-container .box img {
    height: 10rem;

} */

/* .menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    
} */

/* .menu .box-container .box .price {
color: #fff;
font-size: 2.5rem;
padding: 0.5rem 0;
background-color: #d3ad7f;
border-radius: 4rem;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;

}

.menu .box-container .box:hover {
    background-color: #fff;

}

.menu .box-container .box:hover>* {
    color: var(--black);
} */

.review .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
   font-weight: lighter;
   
}

.review .box-container .box h3 {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;

}
.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    
}



.address{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    text-align: center;

}

.footer .share {
    padding: 1rem 0;

}

.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover {
    background-color: var(--main-color);
}






